@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
}
#background {
	position: relative;
	background-color: rgb(67, 64, 64);
	color: white;
	padding: 1px;
}
.form {
	position: fixed;
	left: 10%;
	height: 96px;
	width: 300px;
	text-align: center;
}
@media (min-width: 1280px) {
	.form {
		position: fixed;
		left: 38%;
		height: 96px;
		width: 25%;
		text-align: center;
	}
 }
