@tailwind base;
@tailwind components;
@tailwind utilities;

.body_sections {
    margin-top: 88px;
}

/* recipe cards - temporary css */
.grid-container-container {
    display: flex;
    justify-content: center;
    margin-top: 200px;
    margin-bottom: 100px;
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(33.33%, 1fr));
    gap: 20px;
    max-width: 1200px;
    padding: 20px;
}

.recipe-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @media screen and (max-width: 800px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: 600px) {
        grid-template-columns: repeat(1, 1fr);
    }
    gap: 20px;
}