.recipe_image {
    display: block;
    width: 30vw;
    height: 30vw;
    border-width: 2px;
    border-color: black;
}

.info_box {
    clear: left;
    margin: 30px auto 0px auto;
    width: 80vw;
    border-radius: 10px;
    background-color: lightgray;
    height: 20vw;
}

.info_text {
    padding: 2vw 4vw 2vw 4vw;
    font-size: 25px;
}